::-webkit-input-placeholder {
  color: #626262;
  font-size: rem(14px);
  font-family: var(--primary-font);
}

.form-area {
  color: #e0e0e0;
  background-color: #323232;
	padding:10px 40px 60px;
  margin-left: em(100px);
  width: 100%;
    @include for-mobile-only {
       margin: 0 ; 
  }
}


.form-control {
  border: none;
  padding: 0.5em 0.2em;
  color: #e0e0e0;
    @include for-mobile-only {
       margin: 0;
  }
}

.form-main__title {
  color: #e0e0e0;
  font-family: "Maven Pro Regular";
  font-size: rem(30px);
  font-weight: 400;
  line-height: 5px;
  margin-top: em(50px);
}

.form-secondery__title {
  color: #bebebe;
  font-family: "Maven Pro Regular";
  font-size: rem(20px);
  font-weight: 400;
  line-height: 22px;
}


.form-group {
  margin: 1em 0;
}

.bg2 {
background-color: #323232;
}


  ::-webkit-input-placeholder { 
  color: #e0e0e0;
}


.form-name { 
  // width: em(880px);
  width: 100%;
  // height: em(58px);
  background-color: #454545;
   @include for-mobile-only {
       width: em(440px);
  }
}

.form-email { 
   width: 100%;
  // height: em(58px);
  background-color: #454545;
    @include for-mobile-only {
       width: em(440px);
  }
}

.form-subject { 
   width: 100%;
  // height: em(58px);
  background-color: #454545;
    @include for-mobile-only {
       width: em(440px);
  }
}

.form-message { 
   width: 100%;
  // height: em(170px);
  background-color: #454545;
    @include for-mobile-only {
       width: em(440px);
       height: em(90px);
  } 
}

.submit-button {
  border: none;
  float: right;
  width: em(90px);
  height: em(37px);
  background-color: #2eb398;
  color: #d7fcf5;
  font-size: rem(12px);
  font-weight: 700;
  line-height: 22px;
  cursor: pointer;
  transition: all 1s;
  &:hover {
    background-color:#d7fcf5;
    color: #2eb398;
    border: 1px solid #2eb398;
  }
    @include for-mobile-only {
       margin: 0;
    }
}


.text-area {
    margin-right: em(200px);
    margin-top: em(115px);
    @include for-mobile-only {
       margin: 0;
    }

}


.text-area__summery {
  width: 60%;
  margin-top: em(115px);
  font-size: rem(12px);
  line-height: 22px;
  color: #e0e0e0;
  font-weight: 300;
    @include for-mobile-only {
       margin: 0;
    }
}

.text-area__info {
  padding-top: 15px;
}

.mark {
  text-decoration: bold;
}