.clean-list {
  list-style: none;
}

.img-responsive {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

/* Breakpoint mixins */

@mixin for-mobile-only {
  @media (max-width: $mobile-breakpoint) {
    @content;
  }
}

/*----------  Flex Helpers  ----------*/

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-column{
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}
.space-around{
  justify-content: space-around;
}

.flex-wrap {
  flex-wrap: wrap;
}

.full-height {
  height: 100%;
}


.hexagon {
  position: relative;
  width: 300px; 
  height: 173.21px;
  // background-image: none;
  background-image: url("assets/imgs/img1.jpg");
  margin: 86.60px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 86.60px solid;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 86.60px solid;
}