/*----------  Containers  ----------*/

.container {
  // width: var(--container-width);  
  margin: 0 auto;
  padding: 0 1em;
}


.inner-container {
  // width: var(--inner-container-width);
  width: 60%;
  margin: auto;
}


.inner-container2 {
  // width: var(--inner-container-width);
  width: 80%;
  margin: auto;
  
}



@mixin for-mobile-only {
  @media (max-width: $mobile-breakpoint) {
    @content;
  }
}