.bg {
      background-color: #2eb398;
}
.main-about {
    background-color: #2eb398;
    border: 1px solid cadetblue;
    @include for-mobile-only {
     flex-wrap: wrap;
  }
     
}

.main-about__text {
       @include for-mobile-only {
      // flex-direction: row;
  }
}



.main-about__img {
    margin-right: em(20px);
    margin-left: em(20px);
    @include for-mobile-only {
      //  margin: 10px;
  }
}


.main-about__title {
     color: #d7fcf5;
     font-family: "Maven Pro Regular";
     font-size: rem(36px);
     font-weight: 400;
     @include for-mobile-only {
       margin: 0;
       padding: 0;
    }
}


.main-about__title2 {
     color: #20816d;
     font-family: "Maven Pro Regular";
     font-size: rem(24px);
     font-weight: 400;
     line-height: 22px;
      @include for-mobile-only {
      // margin: 10px;
  }
}


.main-about__summery {
     color: #d7fcf5;
     font-size: rem(16px);
     font-weight: 400;
     line-height: 22px;
      @include for-mobile-only {
      //  margin: 10px;
  }
 }


