
.hide {
    display: none;
}

#keywords-popular__text1 {
    font-size: rem(14px);
}

#keywords-popular__text2 {
    font-size: rem(14px);
}

#keywords-popular__text3 {
    font-size: rem(14px);
}

#keywords-popular__text4 {
    font-size: rem(14px);
}

#keywords-popular__text5 {
    font-size: rem(14px);
}